
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    name="Nemours Biomedical Research"
    content="Links to various research department resources."
  />
  <title>Nemours Biomedical Research</title>
  <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}" />
</head>
<body>
  <div id="root"></div>

  <script src="{% static "frontend/bundle.js" %}"></script>

</body>
</html>
